{% extends "base.html" %}

{% block title %}Orderview{% endblock %}

{% block script %} 
	function printClock() {
    	var clock = document.getElementById("clock");            // 출력할 장소 선택
    	var now = new Date();                                     // 현재시간
    	clock.innerHTML = now;  
		setTimeout("printClock()",1000);         // 1초마다 printClock() 함수 호출
	}

	window.setTimeout('window.location.reload()',60000); //60초마다 새로고침
	window.onload = function() {
		printClock();
	} 
{% endblock %}

{% block content %}
<h1>보전 고장 통지</h1><h3 id="clock"></h3>
<div class="divTable darkTable">
	<div class="divTableHeading">
		<div class="divTableRow">
			<div class="divTableHead" style="width: 5%;">순</div>
			<div class="divTableHead" style="width: 25%;">장비명</div>
			<div class="divTableHead" style="width: 50%;">내용</div>
			<div class="divTableHead" style="width: 5%;">일자</div>
			<div class="divTableHead" style="width: 10%;">시간</div>
			<div class="divTableHead" style="width: 5%;">완료</div>
<!--			
			<div class="divTableHead">플랜트</div>
-->
		</div>
	</div>
	<div class="divTableBody">
		{% for result in results %}
			{% if plant|upper == result[6] or plant == None %}
				{% if result['order_con'] == "X" %}
				<div class="divTableRow" style="background-color:gray">
				{% else %}
				<div class="divTableRow" style="background-color:red">
				{% endif %}
					<div class="divTableCell">{{ loop.index }}</div>
					<div class="divTableCell">{{ result['equiName'] }}</div>
					<div class="divTableCell">{{ result['notiContent'] }}</div>
					<div class="divTableCell">{{ result['notiDate'][6:] }}</div>
					<div class="divTableCell">{{ "%s:%s"|format(result['notiTime'][0:2],result['notiTime'][2:4]) }}</div>
					<div class="divTableCell">{{ result['order_con'] }}</div>
<!--					
					equiName,notiContent,notiDate,notiTime,equiCode,order_con
					<div class="divTableCell">{{ result[6] }}</div>
-->
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<!--
	<div class="divTableFoot tableFootStyle">
		<div class="divTableRow">
			<div class="divTableCell">foot1</div>
			<div class="divTableCell">foot2</div>
			<div class="divTableCell">foot3</div>
			<div class="divTableCell">foot4</div>
			<div class="divTableCell">foot5</div>
		</div>
	</div>
	-->
</div>

{% endblock %}
